.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
    border-color: green;
}